<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/frontend :: head(~{::title}, ~{::link})">
		<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
		

	</head>
	<body>
		<div class="container">
			<header th:replace="/layout/frontend :: cabecero"></header>
			<div th:replace="/layout/frontend :: menu"></div>
		</div>
		
		<main class="container">
				<h1>Formularios</h1>
				<ul>
					<li>
						<a th:href="@{/formularios/simple}">Formulario Simple</a>
					</li>
					<li>
						<a th:href="@{/formularios/objeto}">Formulario Objeto</a>
					</li>
					<li>
						<a th:href="@{/formularios/objeto2}">Formulario Objeto 2</a>
					</li>
					<li>
						<a th:href="@{/formularios/validaciones}">Formulario Validaciones</a>
					</li>
					<li>
						<a th:href="@{/formularios/select-dinamico}">Formulario select dinámico</a>
					</li>
					<li>
						<a th:href="@{/formularios/checkbox}">Formulario Checkbox</a>
					</li>
					<li>
						<a th:href="@{/formularios/flash}">Formulario flash</a>
					</li>
				</ul>
				<hr/>
				
					
		</main>	
		

		<footer th:replace="layout/frontend :: footer"></footer>
		<div th:replace="/layout/frontend :: scripts"></div>
	</body>
</html>