<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/frontend :: head(~{::title}, ~{::link})">
		<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
		

	</head>
	<body>
		<div class="container">
			<header th:replace="/layout/frontend :: cabecero"></header>
			<div th:replace="/layout/frontend :: menu"></div>
		</div>
		
		<main class="container">
				<h1>Formulario Upload Respuesta</h1>
				<ul>
					<li th:text="'username: ' +${usuario.username}" ></li>
					<li th:text="'email: ' +${usuario.email}" ></li>
					<li th:text="'password: ' +${usuario.password}" ></li>
					
				</ul>
					
		</main>	
		

		<footer th:replace="layout/frontend :: footer"></footer>
		<div th:replace="/layout/frontend :: scripts"></div>
	</body>
</html>