<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
	</head>
		<hr>
		<!-- Operación suma -->
		<h1 th:text="${num1} + ${num2}"></h1>
		<hr/>
		
		<!-- Condicionales if -->
		<h1 th:if="${num1>10}" th:text="'num1 es mayor que 10'"></h1>
		<hr/>
		
		<!-- if ternario -->
		<h1 th:text="${num1==12 ? 'Si':'No'}"></h1>
		<hr/>
		
		<!-- switch case -->
		<div th:switch="${num1}">
			<p th:case="10" th:text="'es 10'"></p>
			<p th:case="11" th:text="'es 11'"></p>
			<p th:case="12" th:text="'es 12'"></p>
		</div>
		
		<hr/>
		<!-- Ciclos -->
		<ul>
			<li th:each="pais:${paises}" th:text="${paisStat.index} + ' - ' + ${pais}"></li>
		</ul>
		
	</body>
</html>