
<!-- Este script nos sirve para poder crear el fragmento html e importarlo en nuestra vista de productos_paginacion -->
<!-- aunque es genérico, se le puede agregar a otras vistas siempre y cuando respetando el nombre de la lista (datos) -->
<!-- que viene desde el controlador con el Model -->
<!-- Podemos adaptarlo a otras plantillas que no sea Bootstrap, cambiando las condiciones al modo que se trabajan -->
<!-- en las distintos plantillas -->
<!--  -->
<nav th:fragment="paginacion" th:if="${datos.totalPages > 0}" aria-label="Page navigation example" >

   	<ul class="pagination justify-content-center">
   		<li class="page-item" th:classappend="${datos.number == 0 ? 'disabled' : ''}">
   			<a th:href="'/'+${paginacion}+'?page='+${datos.number - 1}" class="page-link">Anterior</a>
   		</li>
   					
   		<li class="page-item" th:classappend="${i eq datos.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, datos.totalPages, 1)}">
   		 
   			<a class="page-link" th:href="'/'+${paginacion}+'?page='+${i-1}" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
   		</li>
   		<li class="page-item" th:classappend="${datos.number == (datos.totalPages - 1) ? 'disabled' : ''}">
   			<a th:href="'/'+${paginacion}+'?page='+${datos.number + 1}" class="page-link">Siguiente</a>
   		</li>
   	</ul>
</nav>