<div th:fragment="menu">
	<ul class="nav">
		<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a>
		</li>
		<li class="nav-item"><a class="nav-link" th:href="@{/protegido}">Protegido
				1</a></li>
		<li class="nav-item"><a class="nav-link"
			th:href="@{/protegido/protegido-2}">Protegido 2</a></li>
		<li class="nav-item"><a class="nav-link"
			th:href="@{/restringido}">Restringido</a></li>
		<li class="nav-item"><a class="nav-link"
			th:href="@{/restringido/restringido-2}">Restringido 2</a></li>
		<li class="nav-item"><a class="nav-link" th:href="@{/liberado}">Liberado</a>
		</li>
		<li class="nav-item"><a class="nav-link"
			th:href="@{/liberado/liberado-2}">Liberado 2</a>
		</li>
		
			
	</div>
</div>