<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/frontend :: head(~{::title}, ~{::link})">
		<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
		<link rel="stylesheet" th:href="@{/fancybox/jquery.fancybox.css}" type="text/css" />

	</head>
	<body>
		<div class="container">
			<header th:replace="/layout/frontend :: cabecero"></header>
			<div th:replace="/layout/frontend :: menu"></div>
		</div>
		
		<main class="container">
				<h1>Productos</h1>
				<p>
					<a th:href="@{/jpa-repository/productos/add}" class="btn btn-success">Crear</a>
				</p>
				<hr/>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Categoría</th>
							<th>Nombre</th>
							<th>Precio</th>
							<th>Foto</th>
							<th>Acciones</th>
						</tr>
					</thead>	
					<tbody th:each="dato:${datos}">
						<tr>
							<td th:text="${dato.id}"></td>
							<td th:text="${dato.nombre}"></td>
							<td th:text="${dato.categoriaId.nombre}"></td>
							<td th:text="'$'+${#numbers.formatDecimal(dato.precio, 0, 'POINT', 0, 'POINT')}"></td>
							<td style="text-align: center;">
								<a th:href="${ruta_upload}+'producto/'+${dato.foto}" class="fancybox">
								<img th:src="${ruta_upload}+'producto/'+${dato.foto}" width="100" height="100"/>
								</a>
							</td>
							<td>
								<a th:href="@{/jpa-repository/productos/editar/}+${dato.id}"><i class="fas fa-edit"></i></a>
								<!-- El siguiente código es para mostrar mensaje de alerta si está seguro de eliminar -->
								<a href="javascript:void(0);" th:onclick="'eliminar(\'/jpa-repository/productos/delete/'+ ${dato.id} +'\')'" >
									<i class="fas fa-trash"></i>
									</a>
							</td>
						</tr>
					</tbody>			
				</table>
		</main>	
		

		<footer th:replace="layout/frontend :: footer"></footer>
		<div th:replace="/layout/frontend :: scripts"></div>
		<script type="text/javascript" th:src="@{/fancybox/jquery.fancybox.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			$(".fancybox").fancybox({
				openEffect : 'none',
				closeEffect : 'none',
			});
		});
		</script>
	</body>
</html>